<nav class="navbar">

    <div class="logo">

        <a href="{{ url_for('home.home_page') }}">
            Meu Site
        </a>

    </div>


    <!-- BOTÃO MOBILE -->
    <button class="menu-toggle" id="menu-toggle">
        ☰
    </button>



    <div class="nav-content" id="nav-content">


        <ul class="menu">


            <li>
                <a href="{{ url_for('home.home_page') }}">
                    Início
                </a>
            </li>



            {% if itens %}

            <li class="dropdown">

                <a href="#">
                    Perfis ▾
                </a>


                <ul class="dropdown-menu">


                    {% for item in itens %}

                    <li>
                        <a href="{{ url_for('home.perfil', id=item.id) }}">
                            {{ item.nome }}
                        </a>
                    </li>

                    {% endfor %}


                </ul>

            </li>

            {% endif %}



            {% if modelos %}

            <li class="dropdown">


                <a href="#">
                    Modelos ▾
                </a>


                <ul class="dropdown-menu">


                    {% for modelo in modelos %}

                    <li>
                        <a href="#">
                            {{ modelo.nome }}
                        </a>
                    </li>

                    {% endfor %}


                </ul>


            </li>

            {% endif %}
            <li>
                 <a href="{{ url_for('home.modelos') }}">
            Modelos
            </a>
            </li>


            <li>
                <a href="#">
                    Sobre
                </a>
            </li>


            <li>
                <a href="#">
                    Contato
                </a>
            </li>


        </ul>



        <div class="acoes">

            <input
                type="text"
                placeholder="Pesquisar..."
            >

        </div>


        <a class="btn-nav" href="#" >
            Entrar
        </a>



    </div>


</nav>