<section class="perfil-modelo">


    <div class="perfil-banner">

        <img 
        src="{{ modelo.banner }}"
        alt="Banner {{ modelo.nome }}">

    </div>



    <div class="perfil-card">


        <div class="perfil-foto">

            <img
            src="{{ modelo.fotoPerfil }}"
            alt="{{ modelo.nome }}">

        </div>


        <div class="perfil-info">

            <h1>
                {{ modelo.nome }}
            </h1>


            <p>
                Idade: {{ modelo.idade }} anos
            </p>


            <p>
                Signo: {{ modelo.signo }}
            </p>


        </div>


    </div>


</section>