<section class="perfil-modelo">

    <div class="perfil-banner">

        <img 
            src="{{ modelo.banner }}"
            alt="Banner {{ modelo.nome }}">

        <div class="banner-overlay"></div>

    </div>


    <div class="perfil-card">


        <div class="perfil-foto">

            <img
                src="{{ modelo.fotoPerfil }}"
                alt="{{ modelo.nome }}">

        </div>



        <div class="perfil-info">


            <h1>
                {{ modelo.nome }}
            </h1>


            <div class="perfil-dados">

                <span>
                    🎂 {{ modelo.idade }} anos
                </span>

                <span>
                    ♈ {{ modelo.signo }}
                </span>

                <span>
                    📍 {{ modelo.cidade }}
                </span>

            </div>



            <p class="descricao">

                {{ modelo.descricao }}

            </p>



            <div class="perfil-acoes">

                <button>
                    Ver Perfil
                </button>

                <button class="secundario">
                    Favoritar ♡
                </button>

            </div>


        </div>


    </div>


</section>